/* don't shift the contents of the page when the scrollbar appears */
html {
    overflow-y: scroll;
}

body {
    font-family: "Georgia", serif;
    line-height: 1.35em;
    max-width: 680px;
    margin: 48px auto;
    padding: 0 40px;
}

h1, h2, h3 {
    font-family: "Cambria", "Georgia", serif;
    font-weight: bold;
}

ul {
    list-style: none;
}

/* decoration only affects the underline */
.container a {
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.default-heading, .menu-container {
    display: inline-block;
    font-size: 1.4em;
    font-family: "Georgia", serif;
}

.menu-container {
    float: right;
}

.container a {
    color: #3333ff;
}

.container li {
    display: inline;
    margin: 0.4em;
    margin-left: 0;
}

.container p, .container ul {
    margin-top: 0em;
}

.footer ul {
    clear: left;
    padding-left: 0;
}

.contents {
    margin-top: 3em;
    margin-bottom: 3em;
}

.contents ul {
    margin-top: 3em;
}

pre {
    background-color: #eaeaff;
    padding: .5em;
}

/* Index entries */
.index-entry {
    margin-bottom: 1em;
}

.index-entry .date, .index-entry .title {
    font-size: 1.2em;
}

.index-entry .date {
    text-align: right;
    padding-right: 2em;
    float: left;
    width: 7em;
}

.index-entry .title {
    display: inline;
}

.index-entry a {
    text-decoration: none;
}

.index-entry a:hover {
    text-decoration: underline;
}
